body {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    max-width: 660px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h1 {
    align-self: center;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.column {
    display: flex;
}

#grid_container {
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.square {
    aspect-ratio: auto 1 / 1;
    display: flex;
    flex: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;


}
    
.rangeslider {
    width: 50%;
    margin: 20px 0px;
    }

.myslider {
    -webkit-appearance: none;
    background: #3f5e756b  ;
    width: 50%;
    height: 12px;
    opacity: 2;
   }

.myslider:hover {
    opacity: 1;
}

.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 10%;
    height: 20px;
}

#rainbowBtn {
    background-image: linear-gradient(to right, rgb(255, 59, 59),rgb(255, 222, 76),rgb(80, 255, 138),rgb(211, 73, 211), rgb(78, 78, 255));
    height: 30px;
    width: 100px;
    margin: 20px 0px;
    border-radius: 6px;
    border: 2px solid rgb(220, 220, 248);
    font-weight: 500;
}

#blackBtn {
    background-color: rgb(222, 222, 222);
    height: 30px;
    width: 100px;
    margin: 20px 0px;
    border-radius: 6px;
    border: 2px solid black;
    font-weight: 500;
}